/**
 * File: styles.css
 * Color palette based on Equinox 8 (https://lospec.com/palette-list/equinox-8)
 */
:root {
    color-scheme: light dark;

    --night1: #0c0727;
    --night2: #2c1c82;
    --night3: #6d58e1;
    --night4: #d4cbff; /* The moon */
    --nightmix23: color-mix(in srgb, var(--night2),var(--night3));
    --nightmix34: color-mix(in srgb, var(--night3),var(--night4));

    --day1: #491d14;
    --day2: #8f3b1d;
    --day3: #cb8232;
    --day4: #ffde67;  /* The sun */
    --daymix23: color-mix(in srgb, var(--day2),var(--day3));
    --daymix34: color-mix(in srgb, var(--day3),var(--day4));

    /* shadow colors */
    --shadow: #222222;
}

/*
body {
    background-color: light-dark( var(--day1), var(--night1) );
    color: light-dark( var(--day2), var(--night2) );
    font-family: Arial, Helvetica, sans-serif;
}
*/

/* Light mode first */
body {
    background-color: var(--day1);
    color: var(--day2);
    font-family: Arial, Helvetica, sans-serif;
}


/* then dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--night1);
        color: var(--night2);
        font-family: Arial, Helvetica, sans-serif;
    }

}

a {
    color: light-dark( var(--day2), var(--night2) );
    text-decoration: none;
}
a[href]:link {
    color: light-dark( var(--day3), var(--night3) );
    transition: color 0.3s ease-in-out;
}
a[href]:visited {
    color: var(--daymix23);
    /*
    color: color-mix(
        in srgb, 
        light-dark( var(--day2), var(--night2) ), 
        light-dark( var(--day3), var(--night3) )
    );
    */
    transition: color 0.3s ease-in-out;
}
a[href]:active {
    color: var(--daymix34);
    /*
    color: color-mix(
        in srgb, 
        light-dark( var(--day3), var(--night3) ), 
        light-dark( var(--day4), var(--night4) )
    );
    */
    transition: color 0.3s ease-in-out;
}
a[href]:hover {
    color: var(--day4);
}

@media (prefers-color-scheme: dark) {

    a {
        color: var(--night2);
        text-decoration: none;
    }
    a[href]:link {
        color: var(--night3);
        transition: color 0.3s ease-in-out;
    }
    a[href]:visited {
        color: var(--nightmix23);
        transition: color 0.3s ease-in-out;
    }
    a[href]:active {
        color: var(--nightmix34);
        transition: color 0.3s ease-in-out;
    }
    a[href]:hover {
        color: var(--night4);
    }

}

h1, h1 > a[id] {
    color: var(--day3);
    /* color: light-dark( var(--day3), var(--night3) ); */
}
h2, h2 > a[id] {
    color: var(--day3);
    /* color: light-dark( var(--day3), var(--night3) ); */
}
h3, h3 > a[id] {
    color: var(--day3);
    /* color: light-dark( var(--day3), var(--night3) ); */
}

@media (prefers-color-scheme: dark) {
    h1, h1 > a[id] {
        color: var(--night3);
    }
    h2, h2 > a[id] {
        color: var(--night3);
    }
    h3, h3 > a[id] {
        color: var(--night3);
    }   
}

hr {
    border-color: var(--day3);
    /* border-color: light-dark( var(--day3), var(--night3) ); */
}

@media (prefers-color-scheme: dark) {
    hr {
        border-color: var(--night3);
    }
}

figure {
    border-width: 1px;
    border-style: outset;
    border-color: var(--day3);
    /* border-color: light-dark( var(--day3), var(--night3) ); */
    border-radius: 15px;
    padding: 5px;
    box-shadow: 5px 5px 5px var(--shadow);
}

figure > img {
    border-width: 1px;
    border-style: inset;
    border-color: var(--day3);
    /* border-color: light-dark( var(--day3), var(--night3) ); */
    border-radius: 15px;
    min-width: 200px;
    min-height: 200px;
}

figure > figcaption {
    margin: 3px;
    text-align: center;
    color: var(--day3);
    /* color: light-dark( var(--day3), var(--night3) ); */    
}

@media (prefers-color-scheme: dark) {
    figure {
        border-width: 1px;
        border-style: outset;
        border-color: var(--night3);
        border-radius: 15px;
        padding: 5px;
        box-shadow: 5px 5px 5px var(--shadow);
    }

    figure > img {
        border-width: 1px;
        border-style: inset;
        border-color: var(--night3);
        border-radius: 15px;
        min-width: 200px;
        min-height: 200px;
    }

    figure > figcaption {
        margin: 3px;
        text-align: center;
        color: var(--night3);
        
    }
}

.sidebyside {
    display: flex;
}

.sidepara {
    min-width: 400px;
}

header {
    text-align: center;
}

header h1 {
    text-shadow: 5px 5px 3px var(--shadow);
}

header h2 {
    text-shadow: 5px 5px 3px var(--shadow);

}

nav {
    display: flex;
    /* min-width: 600px; */
    justify-content: space-between;
}

#navlinks {
    display: flex;
    justify-content: flex-start;
}

#navlinks ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}

#navlinks ul > li {
    padding: 10px;
}

#themeswitcher {
    display: flex;
    justify-items: flex-end;
}

#theme-toggle {
  position: relative;
  appearance: none;
  outline: none;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background: var(--day3);
  box-shadow: none;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  /* box-shadow: 5px 5px 3px var(--shadow); */
}

#theme-toggle:checked {
  background: var(--night3);
}

#theme-toggle::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: inherit;
  width: 36px;
  height: 36px;
  background: var(--day4);
  transition: inherit;
}

#theme-toggle::after {
  content: '';
  position: absolute;
  top: -6px;
  right: calc(100% + 36px);
  border-radius: inherit;
  width: 36px;
  height: 36px;
  background: var(--day1);
  transition: inherit;
}

 #theme-toggle:checked::before {
  left: calc(100% - 38px);
  background: var(--night4); /* crecent */
}

 #theme-toggle:checked::after {
  right: 12px;
  background: var(--night3); /* earth shadow */
}

main h1 {
    text-shadow: 5px 5px 3px var(--shadow);
}

main h2 {
    text-shadow: 5px 5px 3px var(--shadow);

}